[submodule "omz/oh-my-zsh"]
	path = omz/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
    branch = master
[submodule "omz_plugins/zsh-autosuggestions"]
	path = omz_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
    tag = v0.7.0
[submodule "omz_plugins/zsh-syntax-highlighting"]
	path = omz_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
    tag = 0.8.0
[submodule "omz_themes/powerlevel10k"]
	path = omz_themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
    tag = v1.20.0
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
    tag = v3.1.0
[submodule "tmux/plugins/tmux"]
    path = tmux/plugins/tmux
    url = https://github.com/dracula/tmux
    tag = v2.3.0
[submodule "tmux/plugins/tmuxifier"]
    path = tmux/plugins/tmuxifier
    url = https://github.com/jimeh/tmuxifier.git
    tag = v0.13.0
[submodule "tmux/plugins/vim-tmux-navigator"]
    path = tmux/plugins/vim-tmux-navigator
    url = https://github.com/christoomey/vim-tmux-navigator
    tag = v1.0
[submodule "nvim/nvim"]
	path = nvim/nvim
	url = git@github.com:ronnyf/NvChad.git
    branch = current
