[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
    	tag = v3.1.0
[submodule "tmux/plugins/tmux"]
    path = tmux/plugins/tmux
	url = git@github.com:dracula/tmux.git
    tag = v3.0.0
[submodule "tmux/plugins/tmuxifier"]
    path = tmux/plugins/tmuxifier
	url = git@github.com:jimeh/tmuxifier.git
    branch = main
[submodule "tmux/plugins/vim-tmux-navigator"]
    path = tmux/plugins/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
    branch = master
[submodule "neovim/nvim"]
	path = neovim/nvim
	url = git@github.com:ronnyf/kickstart.nvim.git
[submodule "zsh-plugins/zsh-autosuggestions"]
	path = zsh-plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh-plugins/zsh-syntax-highlighting"]
	path = zsh-plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-plugins/fzf-tab"]
	path = zsh-plugins/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
[submodule "skills/agentic"]
	path = skills/agentic
	url = git@github.com:ronnyf/agentic.git
