[submodule "omz/oh-my-zsh"]
	path = omz/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "omz_plugins/zsh-autosuggestions"]
	path = omz_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "omz_plugins/zsh-syntax-highlighting"]
	path = omz_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "omz_themes/powerlevel10k"]
	path = omz_themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "tmux/tmuxifier"]
	path = tmux/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nvim/nvim"]
	path = nvim/nvim
	url = https://github.com/ronnyf/NvChad.git
